langchain
langchain_community
streamlit
transformers 
datasets 
accelerate 
torch
huggingface_hub
bitsandbytes
peft
trl
# Seamless
flask
flask-cors
waitress
watchdog
celery==5.4.0
python-dotenv~=1.0.1
lamini==3.0.5